.container {
  background-color: var(--color-bg-white);
  border: 0.1rem solid var(--color-border);
  border-radius: 1rem;
  padding: 0.9rem 1.6rem;
  transition: border var(--time-function);

  &:hover,
  &:focus {
    border: 0.1rem solid var(--color-accent);
  }
}

.container-checked {
  border: 0.1rem solid var(--color-accent);
}

.title-wrapper {
  gap: 1rem;
  background-color: transparent;
}

.emoji {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-bg-white);
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-text-primary);
  background-color: transparent;
}

.custom-checkbox-wrapper {
  position: relative;
  width: 1.9rem;
  height: 1.9rem;
}

.custom-checkbox {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.checkbox-display {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #d2cfdf;
  background-color: var(--color-bg-white);
  box-sizing: border-box;
}

.custom-checkbox:checked + .checkbox-display {
  border-color: transparent;
}
